<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3rhjAByCjc-mdaBb2trqpkaoZBczCDVs</string>
	<key>GCM_SENDER_ID</key>
	<string>848650492391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gary.DailyDefender</string>
	<key>PROJECT_ID</key>
	<string>mm-app-df86a</string>
	<key>STORAGE_BUCKET</key>
	<string>mm-app-df86a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848650492391:ios:d314e6e7732796661a0542</string>
</dict>
</plist>